@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeistR";
  src: url(/public/fonts/Geist-Regular.otf);
}

@font-face {
  font-family: "GeistM";
  src: url(/public/fonts/Geist-Medium.otf);
}

@font-face {
  font-family: "GeistL";
  src: url(/public/fonts/Geist-Light.otf);
}

@font-face {
  font-family: "GeistB";
  src: url(/public/fonts/Geist-Bold.otf);
}

@font-face {
  font-family: "Asimov";
  src: url(/public/fonts/asimovwidit.otf);
}

body {
  margin: 0;
  font-family: 'GeistL', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

body.active-modal {
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
